<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Add Characters</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<nav class="navbar bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/index">Character Manager</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addCharacter">Add Character</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewCharacters">View/Manage Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchCharacters">Search Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addClass">Add Class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewClasses">View/Manage Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchClasses">Search Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addGuild">Add Guild</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewGuilds">View/Manage Guilds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchGuilds">Search Guilds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addSpell">Add Spell</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewSpells">View/Manage Spells</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchSpells">Search Spells</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewSchools">View Schools</a>
            </li>
          </ul>
        </div>
    </nav> 
<br>

    <form id="addCharacter" action ="/addCharacter" method = "post">

        <legend>Add Character:</legend>

        <fieldset>
			    
			<label> First Name:  <input type ="text" name ="firstName" maxlength="255"></label>
            
			<br><br>

			<label> Last Name: <input type ="text" name ="lastName" maxlength="255" >
            
            <br><br>
			
			<label>Strength:  <input type ="number" name ="strength" size="1" min="1" max="20" ></label>
            
			<br><br>

			<label>Dexterity: <input type ="number" name ="dexterity" size="1" min="1" max="20"></label>
            
			<br><br>

			<label>Endurance <input type ="number" name ="endurance" size="1" min="1" max="20"></label>
            
			<br><br>

			<label>Intelligence: <input type ="number" name ="intelligence" size="1" min="1" max="20"></label>

            <br><br>
			
            <label>Select Guild: </label>
            
                <select name= "guilds">

                   
                        {% for g in guilds %}
                          <option value="{{ g[0] }}" > {{ g[1] }}</option>
                        {% endfor %}

                        <option value="noGuild"> No Guild </option>
                    </select>
            
            <br><br>

            <label>Select Class: </label>
            <select name="classes">
                
                    {% for c in classes %}
                      <option value="{{ c[0] }}">{{ c[1] }}</option>
                    {% endfor %}
                </select>
            <p></p>

			<input type="submit" value="Add Character">
		</fieldset>
    </form>
</body>
</html>