<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Character Manager Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color:#343a40;
        }
    </style>
</head>
<body>
	<nav class="navbar bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/index">Character Manager</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addCharacter">Add Character</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewCharacters">View/Manage Characters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/searchCharacters">Search Characters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addClass">Add Class</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewClasses">View/Manage Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/searchClasses">Search Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addGuild">Add Guild</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewGuilds">View/Manage Guilds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/searchGuilds">Search Guilds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addSpell">Add Spell</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewSpells">View/Manage Spells</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/searchSpells">Search Spells</a>
        </li>
      </ul>
    </div>
</nav> 

<img src="{{ url_for('static', filename='indexBackground.jpg') }}" class = "img-fluid" />
<br><br>

<p class = "text-white text-center"><i>Welcome to the Character Manager!</i></p> 
<ul class = "text-white">
  <li>This site intends to make your Dungeons & Dragons games more organized and streamlined by providing a way
      for dungeon masters and players to keep track of each character's guild, class, spells, and stats. It provides
      an easy way for all players to reference details of each character in the game. The Character Manager makes
      a great utility for the dungeon master as they already have so much to keep track of. Adventure on!
  </li>
</ul>
</body>
</html>