<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Update Spell</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<nav class="navbar bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/index">Character Manager</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addCharacter">Add Character</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewCharacters">View/Manage Characters</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addClass">Add Class</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewClasses">View/Manage Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addGuild">Add Guild</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewGuilds">View/Manage Guilds</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addSpell">Add Spell</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/viewSpells">View/Manage Spells</a>
        </li>
      </ul>
    </div>
  </nav> 
<br>

<!-- Add form here for updated spell name, description, level -->

<form method = "post" id= "updateSpells" action="/updateSpell/{{spell[0]}}">
  <fieldset>

<legend>Update Spell Here:</legend>
<input type="hidden" name="spell_id" value="{{spell[0]}}">
  <label> Spell Name:
            <input type ="text" name ="spell_name" value="{{spell[1]}}" maxlength="2">
        </label>

  <br/><br/>

  <label> Spell Level:
            <input type ="number" name ="spell_level" value="{{spell[2]}}" maxlength="2">
        </label>

        <br/><br/>

  <label>Spell Description:
            <input type ="text" name ="spell_description" value="{{spell[3]}}" size="50" maxlength="255">
        </label>

  <br/><br/>

    <input type="submit" value="Submit">
    </fieldset>

  <br/><br/>

</body>
</html>