<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Manage Characters</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<nav class="navbar bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="index.html">Character Manager</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="manageCharacters.html">Manage Character</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="addCharacters.html">Add Character</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="viewCharacters.html">View Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="guilds.html">View Guilds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="classes.html">View Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="spells.html">View Spells</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin Page</a>
            </li>
          </ul>
        </div>
    </nav> 
	<br>
	<form method = "post" id= "updateForm" action="/updateCharacter/{{character[0]}}">
        <fieldset>
			
			<legend>Update Character Here:</legend>
			<input type="hidden" name="char_id" value="{{character[0]}}">
			<label> First Name:
                <input type ="text" name ="first_name" value="{{character[1]}}" size="20" maxlength="20">
            </label>
			
			<br/><br/>

			<label> Last Name:
                <input type ="text" name ="last_name" value="{{character[2]}}" size="20" maxlength="20">
            </label>

            <br/><br/>
			
			<label>Strength:
                <input type ="number" name ="strength" value="{{character[3]}}" size="1" maxlength="2">
            </label>
			
			<br/><br/>

			<label>Dexterity:
                <input type ="number" name ="dexterity" value="{{character[4]}}" size="1" maxlength="2">
            </label>
			
			<br/><br/>

			<label>Endurance:
                <input type ="number" name ="endurance" value="{{character[5]}}" size="1" maxlength="2">
            </label>
			
			<br/><br/>

			<label>Intelligence:
                <input type ="number" name ="intelligence" value="{{character[6]}}"size="1" maxlength="2">
            </label>
			
			<br/><br/>
			
			<label>Select New Guild: </label>

				<select name = "guild">
					<option value = "Merchants" selected> Merchants</option>
					<option value = "Fighters" selected> Fighters</option>
					<option value = "Mages" selected> Mages</option>
					<option value = "Assassins" selected> Assassins</option>
					<option value = "Mercenaries" selected> Mercenaries</option>
					<option disabled selected value>Select An Option</option>
				</select>

			<p></p>

			<label>Select New Class: </label>

				<select name = "class">
					<option value = "Rogue" selected>Rogue</option>
					<option value = "Sorceress" selected>Sorceress</option>
					<option value = "Ranger" selected>Ranger</option>
					<option value = "Cleric" selected>Cleric</option>
					<option value = "Druid" selected>Druids</option>
					<option disabled selected value>Select An Option</option>
				</select>

				<p></p>

				<label>Select Spell to Add: </label>
				<select name = "spell">
					<option value = "Fireball" selected>Fireball</option>
					<option value = "Cast Light" selected>Cast Light</option>
					<option value = "Healing Touch" selected>Healing Touch</option>
					<option value = "Frost Bolt" selected>Frost Bolt</option>
					<option value = "Summon Familiar" selected>Summon Familiar</option>
					<option value = "Detect Magic" selected>Detect Magic</option>
					<option value = "Polymorph" selected>Polymorph</option>
					<option value = "Magic Missile" selected>Magic Missle</option>
					<option disabled selected value>Select An Option</option>
				</select>
			<p><button type="deleteCharacter">Delete Current Character</button></p>	
				<p></p>
			<input type="submit" value="Submit">
			</fieldset>
	</form>
	<br>
</body>
</html>