<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Update Character</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
	<nav class="navbar bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/index">Character Manager</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addCharacter">Add Character</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewCharacters">View/Manage Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchCharacters">Search Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addClass">Add Class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewClasses">View/Manage Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchClasses">Search Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addGuild">Add Guild</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewGuilds">View/Manage Guilds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchGuilds">Search Guilds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addSpell">Add Spell</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewSpells">View/Manage Spells</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/searchSpells">Search Spells</a>
            </li>
          </ul>
        </div>
    </nav> 
<br>

	<form  method = "post" id= "update_character" action="/updateCharacter/{{character[0]}}">
        <fieldset>
		<div class = "container">
            <legend>Update Character Here:</legend>

            <input type="hidden" name="char_id" value="{{character[0]}}">
			<label>First Name:  <input type ="text" name ="first_name" value="{{character[1]}}" maxlength="255"></label>
            
			<br><br>

			<label>Last Name:   <input type ="text" name ="last_name" value="{{character[2]}}" maxlength="255"></label>
            
            <br><br>
			
			<label>Strength:    <input type ="number" name ="strength" value="{{character[3]}}" min="1" max="20"></label>
			
			<br><br>

			<label>Dexterity:   <input type ="number" name ="dexterity" value="{{character[4]}}" min="1" max="20"></label>
    
			<br><br>

		    <label>Endurance:   <input type ="number" name ="endurance" value="{{character[5]}}" min="1" max="20"></label>
            
			<br><br>

	        <label>Intelligence: <input type ="number" name ="intelligence" value="{{character[6]}}" min="1" max="20"></label>
      
			<br><br>
            
			<!-- <input type="hidden" name="char_id" value="{{character[0]}}">
			<label> First Name:
                <input type ="text" name ="first_name" value="{{character[1]}}" maxlength="255">
            </label>
			
			<br>

			<label> Last Name:
                <input type ="text" name ="last_name" value="{{character[2]}}" maxlength="255">
            </label>

            <br>
			
			Strength: <input type ="number" name ="strength" value="{{character[3]}}" min="0" max="20">
			
			<br>

			<label>Dexterity:
                <input type ="number" name ="dexterity" value="{{character[4]}}" min="0" max="20">
            </label>
			
			<br>

			<label>Endurance:
                <input type ="number" name ="endurance" value="{{character[5]}}" min="0" max="20">
            </label>
			
			<br>

			<label>Intelligence:
                <input type ="number" name ="intelligence" value="{{character[6]}}" min="0" max="20">
            </label>
			
			<br> -->
            
            <label>Select Guild: </label>
                <select name= "guilds" value ="{{character[7]}}">

                         <!-- display all guilds inside this dropdown -->
                        {% for g in guilds %}
                          <option value="{{ g[0] }}" > {{ g[1] }}</option>
                        {% endfor %}
                        <option value="noGuild"> No Guild </option>

                    </select><br>
			<p></p>

            <label>Select Class: </label>

            <select name="classes"  value ="{{character[8]}}">

                     <!-- display all classes inside this dropdown -->
                    {% for c in classes %}
                      <option value="{{ c[0] }}">{{ c[1] }}</option>
                    {% endfor %}
            </select><br>

            <p></p>
            
        <input type="submit"  name="buttonID" value="Update Character">
        </div>	
        </fieldset>
    </form>

    <form method = "post" id= "update_character" action="/updateCharacter/{{character[0]}}">

        <fieldset>   
            <legend>Select Spell to Add to Character: </legend>

                <input type="hidden" name="char_id" value="{{character[0]}}">
                
                    <select name="spells" value ="{{character[9]}}">

                        <!-- display all spells inside this dropdown -->
                        {% for s in spells %}
                        <option value="{{ s[0] }}">{{ s[1] }}</option>
                        {% endfor %}
                    
                    </select>
                 <input type="submit" name="buttonID" value="Add Spell">

        </fieldset>
    </form>

    <form method = "post" id= "update_character" action="/updateCharacter/{{character[0]}}">
        <fieldset>
            <legend>Select Spell to Remove from Character: </legend>

            <input type="hidden" name="char_id" value="{{character[0]}}">

                <select name="removeSpell" value ="{{character[10]}}">
                    <!-- display all spells inside this dropdown -->
                    {% for rs in removeSpell %}
                    <option value="{{ rs[0] }}">{{ rs[1] }}</option>
                    {% endfor %}
                </select>

            <input type="submit"  name="buttonID" value="Remove Spell">

        </fieldset>
    </form>
	<br>
</body>
</html>