<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>View/Manage Classes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
      form {
        padding-left: 25px;
      }
      table {
        margin: 25px;
      }
    </style>
</head>
<body>
	<nav class="navbar bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="index.html">Character Manager</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="addNewCharacter.html">Add Character</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="viewCharacters.html">View/Manage Characters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addClass.html">Add Class</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="viewClasses.html">View/Manage Classes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addGuild.html">Add Guild</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="viewGuilds.html">View/Manage Guilds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addSpell.html">Add Spell</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="viewSpells.html">View/Manage Spells</a>
            </li>
          </ul>
        </div>
    </nav> 
<br>

<!-- Format similar to the view Characters page, with an update button that will lead to the 
corresponding update html page-->

  
<form method = "get">
<fieldset>
<legend>View Current Classes Here:</legend>
<table border='1'>
  <thead>
      <th>Class Name</th>
      <th>Stat Name</th>
      <th>Stat Bonus</th>
  </thead>
  <tbody>
    {% for r in rows %}
    <tr>
      <td> {{ r.0 }}</td>
      <td> {{ r[1] }}</td>
      <td> {{ r[2] }}</td>
      <td> <input type='button' name='Update' value='Update'
          onclick="window.location = '/updateClass/{{r[3]}}'"> </td>
      <!-- <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_people/{{r[4]}}'"> </td> -->
    </tr>
    {% endfor %}
  </tbody>
</table>
<p></p>

</body>
</html>